.try .spinner {
  width: 40px;
  height: 40px;
  background-color: black;
  margin: 100px auto;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}

.try .double-spinner {
  position: relative;
  margin: 100px auto;
}

.try .double-spinner .bounce1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  margin: 100px auto;
  position: relative;
  opacity: 0.5;
  -webkit-animation-name: bounce1;
          animation-name: bounce1;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.try .double-spinner .bounce2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0.5;
  -webkit-animation-name: bounce2;
          animation-name: bounce2;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes bounce1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes bounce1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@-webkit-keyframes bounce2 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes bounce2 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.try .rect-spinner {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.try .rect-spinner div {
  display: inline-block;
  width: 6px;
  height: 40px;
  background-color: black;
  margin: 0 2px;
  padding: 0;
  -webkit-animation: sk-stretchdelay 1.2s ease-in-out infinite;
          animation: sk-stretchdelay 1.2s ease-in-out infinite;
}

.try .rect-spinner .stick1 {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.try .rect-spinner .stick2 {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.try .rect-spinner .stick3 {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.try .rect-spinner .stick4 {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.try .rect-spinner .stick5 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes sk-stretchdelay {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(10);
            transform: scaleY(10);
  }
}

@keyframes sk-stretchdelay {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(10);
            transform: scaleY(10);
  }
}
/*# sourceMappingURL=try.css.map */