@import "mixin";

.try {

  .spinner {
    width: 40px;
    height: 40px;
    background-color: black;
    margin: 100px auto;
    // transition: all 0.3s;

    // transform-style: preserve-3d;
    // perspective: 300px;

    animation-name: rotate;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

    // position: relative;
    // z-index: 1;
    // transform-style: preserve-3d;
    // perspective: 300px;

    // transform: rotate;
     
  }
  
  @keyframes rotate {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);

    }

    50% {
      transform: perspective(120px) rotateX(-180deg) rotateY(0deg);

      
    }
    100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    }
  }

  .double-spinner {
    position: relative;
    margin: 100px auto;

    .bounce1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    margin: 100px auto;
    position: relative;
    opacity: 0.5;
    }

    .bounce2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
    }
  }

}
